@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8fafc;
  width: 100%;
}

#__next {
  max-width: 1500px;
  margin: auto;
}

.gridd {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  background-color: #6eeb0040;
}

.imageInici {
  clip-path: polygon(25% 0%, 75% 0%, 100% 100%, 0% 100%);
}
